<%= notice %>

<h1>Table of Updates</h1>

<br>
<br>
<br>

<%= link_to "Create Update", new_update_path %>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Number of Likes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @updates.each do |update| %>
      <tr>
        <td><%= link_to update.status, update_path(update) %></td>
        <td><%= update.user %></td>
        <td><%= update.likes %></td>
        <td><%= link_to "Edit", edit_update_path(update) %></td>
        <td><%= link_to "Delete", update, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
